<template>
  <div id="app">
    <b-container class="bv-example-row">
      <b-row class="justify-content-center py-4">
        <b-col cols="10">
          <b-card class="mb-2 shadow-sm">
            <b-row>
              <b-col cols="3" class="mb-3">
                <label class="form-label">First Name</label>
                <b-form-input v-model="formSearch.firstname"></b-form-input>
              </b-col>
              <b-col cols="3" class="mb-3">
                <label class="form-label">Last Name</label>
                <b-form-input v-model="formSearch.lastname"></b-form-input>
              </b-col>
              <b-col cols="3" class="mb-3">
                <label class="form-label">Business Name</label>
                <b-form-input v-model="formSearch.businessName"></b-form-input>
              </b-col>
              <b-col cols="3" class="mb-3">
                <label class="form-label">Phone</label>
                <b-form-input v-model="formSearch.phone"></b-form-input>
              </b-col>
              <b-col cols="12" class="mb-3">
                <b-form-group label="Partner Contract">
                  <b-form-radio
                    v-model="formSearch.hasAcceptedContract"
                    name="some-radios"
                    :value="true"
                    >Show partner with accepted contract</b-form-radio
                  >
                  <b-form-radio
                    v-model="formSearch.hasAcceptedContract"
                    name="some-radios"
                    :value="false"
                    >Show partner with no contract</b-form-radio
                  >
                  <b-form-radio
                    v-model="formSearch.hasAcceptedContract"
                    name="some-radios"
                    value="none"
                    >None</b-form-radio
                  >
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <button class="btn btn-primary" v-on:click="search">
                search
              </button>
              <button class="btn btn-default" v-on:click="clear">clear</button>
            </b-row>
          </b-card>
          <b-card class="mb-2">
            <b-row>
              <h4>
                Partners have not accepted their contract yet:
                {{ countPartnerWithoutContract }}
              </h4>
            </b-row>
          </b-card>
          <b-card class="mb-2">
            <b-row>
              <table class="w-100">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Business Name</th>
                    <th>Phone</th>
                    <th>Skype Id</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="partner in searchedPartners"
                    v-bind:class="{ noContarct: !partner.hasAcceptedContract }"
                    :key="partner.id"
                  >
                    <td>{{ partner.id }}</td>
                    <td>
                      {{ partner.profile.firstName }}
                      {{ partner.profile.lastName }}
                    </td>
                    <td>{{ partner.profile.businessName }}</td>
                    <td>{{ partner.profile.phone }}</td>
                    <td>{{ partner.profile.skypeId }}</td>
                    <td>
                      <button
                        class="btn btn-sm btn-danger"
                        v-on:click="removepartner(partner.id)"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-trash-fill"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                          />
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>

export default {
  name: "App",
  components: {
  },
  data: function () {
    return {
      formSearch: {
        firstname: "",
        lastname: "",
        businessName: "",
        phone: "",
        hasAcceptedContract: "none",
      },
      partners: [
        {
          // display variable is the key that i use it to check if the user filtering match or not
          display: true,
          id: 11,
          username: "AsalAlghamdi",
          shouldChangePassword: true,
          hasAcceptedContract: true,
          profile: {
            firstName: "Asal",
            lastName: "Alghamdi",
            businessName: "Asal Fashion",
            phone: "96638692379",
            businessWebsite: "www.asalfashion.com",
            skypeId: "-",
            socialMedia: "",
          },
        },
        {
          display: true,
          id: 22,
          username: "Sara",
          shouldChangePassword: true,
          hasAcceptedContract: true,
          profile: {
            firstName: "Sara",
            lastName: "Ali",
            businessName: "Sara Fashion",
            phone: "966126793",
            businessWebsite: "www.sarafashion.com",
            skypeId: "29739",
            socialMedia: "",
          },
        },
        {
          display: true,
          id: 33,
          username: "OsamaMan",
          shouldChangePassword: true,
          hasAcceptedContract: false,
          profile: {
            firstName: "Osama",
            lastName: "Man",
            businessName: "DH$S",
            phone: "966126793",
            businessWebsite: "www.osamaman.com",
            skypeId: "35513",
            socialMedia: "",
          },
        },
        {
          display: true,
          id: 44,
          username: "Nouf839",
          shouldChangePassword: false,
          hasAcceptedContract: true,
          profile: {
            firstName: "Nouf",
            lastName: "Salah",
            businessName: "NoufDresses",
            phone: "966252934",
            businessWebsite: "www.nouf-dresses.com",
            skypeId: "57892",
            socialMedia: "",
          },
        },
      ],
      searchedPartners: [],
    };
  },
  created: function () {
    this.searchedPartners = this.partners;
  },
  computed: {
    countPartnerWithoutContract: function () {
      return this.partners.filter(
        (partner) => partner.hasAcceptedContract == false
      ).length;
    },
  },
  methods: {
    search: function () {
      const partners = this.partners;
      this.searchedPartners = [];

      for (let i = 0; i < partners.length; i++) {
        console.log("has enter loop");
        const checkFirstName = partners[i].profile.firstName
          .toLowerCase()
          .includes(this.formSearch.firstname);
        console.log("checkFirstName: " + checkFirstName);
        const checkLastName = partners[i].profile.lastName
          .toLowerCase()
          .includes(this.formSearch.lastname);

        let checkHasAcceptedContract = true;
        
        if ((typeof this.formSearch.hasAcceptedContract) == "boolean") {
          checkHasAcceptedContract = partners[i].hasAcceptedContract === this.formSearch.hasAcceptedContract;
        }

        const checkBusinessName = partners[i].profile.businessName
          .toLowerCase()
          .includes(this.formSearch.businessName);

        const checkphone = this.formSearch.phone
          ? Number(partners[i].profile.phone) == Number(this.formSearch.phone)
          : true;

        if (
          checkFirstName &&
          checkLastName &&
          checkBusinessName &&
          checkphone &&
          checkHasAcceptedContract
        ) {
          this.searchedPartners.push(partners[i]);
        }
      }
    },
    clear: function () {
      for (const key in this.formSearch) {
        this.formSearch[key] = "";
      }
      this.searchedPartners = this.partners;
    },
    removepartner: function (id) {
      console.log("HELLO id: " + id);
      const removPartner = this.searchedPartners.find((partner) => {
        return partner.id == id;
      });

      console.log("removPartner: " + removPartner.username);
      const index = this.searchedPartners.indexOf(removPartner);
      console.log("index: " + index);
      this.searchedPartners.splice(index, 1);
    },
  },
};
</script>

<style>
body {
  background-color: #ccd2e2 !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.noContarct {
  background-color: #ecd1a8 !important;
}
</style>
